.order
{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__shipping-paragraph
    {
        margin: 1rem;       
        font-weight: bold;
        font-size: 1.875rem;
    }
    &__button
    {
        @include button;
    }
    &__bullet
    {
        width: 50%;

        @include mobile
        {
            width: 100%;
        }
    }
    &__list
    {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        width: 90%;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        overflow-y: scroll;
        height: 30rem;
        flex-wrap: wrap;
    }
    &__article
    {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__image
    {
        height: 228px;
        width: 196px;
        object-fit: cover;
    }
    &__price
    {
        font-size: 1.875rem;
    }
    &__container
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &--article
        {
            width: 100%;
        }
    }
    &__delete
    {
        color: $secondary-color;
    }
    &__more
    {
        margin: 1rem;
        color: $secondary-color;
    }
}