.header
{
    background-color: $primary-color;

    &__banner
    {
        height: 44px;
    }
    &__list
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__icon
    {
        font-size: 1.5rem;
    }
    @include mobile
    {
        padding-bottom: 1rem;
        text-align: center;
        &__list
        {
            justify-content: space-evenly;
            flex-wrap: wrap-reverse;
        }
        &__bullet:nth-child(1)
        {
            position: absolute;
            top: 0;
            left: 2rem;
        }
        &__bullet:nth-child(5)
        {
            display: flex;
            justify-content: flex-end;
            padding-top: 1rem;
            padding-right: 2rem;
            order: 3;
            width: 100%;
            margin-bottom: 2rem;
        }
    }

}